@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

/* === AVENIR === */
/* === AVENIR FONT FACE === */
@font-face {
  font-family: "Avenir-Black";
  src: url("./assets/fonts/avenir/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-BlackOblique";
  src: url("./assets/fonts/avenir/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("./assets/fonts/avenir/Avenir-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-HeavyOblique";
  src: url("./assets/fonts/avenir/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("./assets/fonts/avenir/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-MediumOblique";
  src: url("./assets/fonts/avenir/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("./assets/fonts/avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-BookOblique";
  src: url("./assets/fonts/avenir/Avenir-BookOblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Avenir-Roman";
  src: url("./assets/fonts/avenir/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Oblique";
  src: url("./assets/fonts/avenir/Avenir-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir-Light";
  src: url("./assets/fonts/avenir/Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-LightOblique";
  src: url("./assets/fonts/avenir/Avenir-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/*

<h1 className="text-4xl font-avenir font-black">
  Avenir Black (900)
</h1>

<p className="font-avenir font-light">
  Avenir Light (300)
</p>
*/

/* === MONTSERRAT FONT FACE === */
@font-face {
  font-family: "Montserrat-Black";
  src: url("./assets/fonts/montserrat/Montserrat-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url("./assets/fonts/montserrat/Montserrat-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./assets/fonts/montserrat/Montserrat-ExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url("./assets/fonts/montserrat/Montserrat-ExtraBoldItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("./assets/fonts/montserrat/Montserrat-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/fonts/montserrat/Montserrat-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("./assets/fonts/montserrat/Montserrat-SemiBoldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/montserrat/Montserrat-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("./assets/fonts/montserrat/Montserrat-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("./assets/fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./assets/fonts/montserrat/Montserrat-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("./assets/fonts/montserrat/Montserrat-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("./assets/fonts/montserrat/Montserrat-ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: url("./assets/fonts/montserrat/Montserrat-ExtraLightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("./assets/fonts/montserrat/Montserrat-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("./assets/fonts/montserrat/Montserrat-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}
